<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

 <body class = background-color>
    <div class = "background">
        <h1 style="font-size: 52px;" class="text-center">michelle's corner</h1>
    </div>
    <div>
        <h1 class = text-center> {{title}}</h1>
        <div class = pictures-with-text>
            <img src = " {{user2 ['img'] }}" class = "img-index">
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo in, impedit quod dicta est facilis consectetur laborum eius vitae voluptate asperiores, vel ipsa laboriosam odit esse beatae nesciunt architecto deserunt.</p>
            <div>
                <a href="{{user2['linkedin']}}" >
                <img alt="linkedin" src="../static/img/linkedin.png" class = "contact-link"/>
                </a>
                <a href="{{user2['github']}}" >
                <img alt="github" src="../static/img/github.png" class = "contact-link"/>
            </div>
        </a>
        </div>
    </div>

        <header style = "margin-bottom:70px">
            <nav class=" navbar navbar-expand-lg fixed-top" style="background-color: #fbf4f3;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/" style = "margin-left: 20px;">Home</a>
                    <button style = "margin-right: 20px;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">  
                        <div class="navbar-nav">
                            {# <a class="nav-link" href="/michelle/">About</a> #}
                            <a class="nav-link" href="/michelle/educationexperience">Education & Experience</a>
                            <a class="nav-link" href="/michelle/hobbies">Hobbies</a>
                            <a class="nav-link" href="/michelle/places">Places</a>
                            <a class="nav-link" href="/timeline">Timeline</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

    <!-- Team description and team members-->
    {# <div class="container" style="margin-top: 4%; margin-botton: 2%;">
        <h1>{{title}}</h1>
        <hr style="border: 2px solid red; background-color: red;"/>
        <p class="team-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in pharetra nulla, non blandit odio. Sed eu neque et purus mollis sagittis. Aliquam convallis rutrum molestie. Fusce hendrerit risus vel turpis pulvinar porta. Nunc non ultricies nunc. Etiam mauris sem, commodo nec dignissim sit amet, luctus vitae orci. Vivamus ipsum neque, blandit sit amet leo et, suscipit rhoncus urna. Sed imperdiet congue lacus, sed ornare massa pretium at. Nulla lacinia tellus eleifend nibh faucibus, non gravida nibh rhoncus. Nullam viverra sapien massa, quis consequat magna tincidunt et. Phasellus ornare vel metus et venenatis. Donec et nunc sed diam gravida blandit eget non leo. Sed elementum a erat vel faucibus. Vivamus quis nisi ac ante euismod convallis in nec sem.
        </p> #}

        <!-- Team members, with routing to their own homepage using parameters in the routes-->
        {# <div class="container members">
        <center>
                <div class = "member-card">
                    <img 
                        src= "{{ user2['img'] }}"
                        class="member"    
                    />
                    <h2 class="text-center">{{ user2["name"] }}</h2>
                    <a href="/michelle" class="btn-user">SEE MORE!</a>
                </div>
        </div>
        </center>
    </div> #}


    <footer style = "margin-top: 20px;">
        <div class="text-center p-3">
            Project developed for the MLH Fellowship Orientation Hackathon - Summer 2022
        </div>
    </footer>
</body>
</html>