p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Poppins";
}

body {
    background-color: #ffffff;
    background-size: cover;
    width: auto; 
    font-family: "Poppins";
    margin: 0px;
}

.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #EC9D9D;
    font-family: "Poppins";
    font-weight: 700 !important;
    padding-top: 10px;
    position: fixed;
    z-index: 1;
    margin-top: -60px;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
    margin: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
}

.profile {
    background-color: #1d539f !important;
    text-align: center;
    height: 320px;
    margin-bottom: 50px;
}

.profile h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
}

.profile img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;        
        padding: 20px;
}

.profile .profile-picture {
    margin-bottom: 30px;
    height: 200px;
}

.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: #1d539f;
}

.banner .logo {
    max-width:180px;
    max-height:60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.margins {
    margin-top: 10%;
}

.bg{
    background-color: #f5f5f9;
}

.underline{
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
}

.work_experience_font{
    font-size: 130px;
}

.member-card{
    text-align: center;
    width: 300px;
    margin: 10%;
    margin-top: 5px;
    margin-bottom: 10px;
    display: inline-block;
}

.member{
    border-radius: 100%;
    width: 300px;
    height: 300px;
    margin: 10px;
}

.members{
    margin-bottom: 20px;
}
.team-desc{
    margin: 3%;
    font-size: 18px;
}

.btn-user{
    font: inherit;
    padding: 10px;
    background-color: #EC9D9D;
    color: white;
    border-radius: 8px;
    border: none;
    margin: 15px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}

.btn-user:active{
    transform: scale(0.85);
    box-shadow: 3px 2px 25px 1px rgba(0,0,0,0.25);
}

.btn-user:hover{
    color: white;
    background-color: #c28080;
}

.home-overlay{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1d539f;
}

.presentation{
    min-height: 400px;
    margin-top: 60px;
    background-image: url("../img/panda.jpg");
    background-repeat: repeat;
    background-color: #EC9D9D;
    background-blend-mode: screen;
}

.about-img{
    border-radius: 100%;
    width: 35%;
    height: auto;
    margin: 5%;
    margin-top: 8%;
    float:left;
}

.about-txt{
    font-size: 24px;
    margin-top: 15px;
}

.about-title{
    margin-top: 5%;
    font-size: 58px;
    font-family: "Poppins";
}

.about-div{
    display: inline-block;
    margin-top: 7%;
    width: 50%;
}

.contact-item-p{
    line-height: 20px;
    font-size: 32px;
}

.contact-div{
    margin: 20px;
    margin-top: 8%;
}

.contact-link{
    margin: 15px;
    height: 50px;
    width: 50px;
}

.map{
    width: 100%;
    height: 500px;
    border-radius: 25px;
    padding: 10px;
}

.map-container{
    width: 90%;
    margin-top: 50px;
    margin-bottom: 20px;
    box-shadow: 5px 10px 8px 10px #888888;
    border-radius: 25px;
    padding: 20px;
    display: inline-block;
}

.trips-txt{
    font-size: 18px;
    margin-top: 15px;
}

.trips-h2{
    font-size: 32px;
    text-decoration: underline black;
}

.hobbies_shadowing{
    box-shadow: 5px 10px 8px 10px #888888;
}