<!-- # template for work experiences, education, hobbies  -->

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} {% endblock %} </title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-food.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="../static/styles/responsive.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel='icon' href='../static/img/favicon.ico' type='image/x-icon' />
    {% block map %} {% endblock%}
    <title>{{ title }}</title>
</head>
    <body>
    <header style = "margin-bottom:100px">
        <nav class=" navbar navbar-expand-lg fixed-top" style="background-color: #EC9D9D;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/" style = "margin-left: 20px;">BLUE PANDAS</a>
                <button style = "margin-right: 20px;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarNavAltMarkup">  
                    <div class="navbar-nav">
                        <a class="nav-link active" href="/{{user}}">About</a>
                        <a class="nav-link" href="/{{user}}/education">Education</a>
                        <a class="nav-link" href="/{{user}}/workexperience">Experience</a>
                        <a class="nav-link" href="/{{user}}/hobbies">Hobbies</a>
                        <a class="nav-item nav-link" href="/{{user}}/trips">Trips</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
        
        <div class = "w3-center">{% block name %} {% endblock %} </div>

        <div class = "w3-center"> {% block content %} {% endblock %} </div>

        <footer style = "margin-top: 20px;">
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                Project developed for the MLH Fellowship Orientation Hackathon - Summer 2022
            </div>
        </footer>
    </body>

</html>