<!-- # template for work experiences, education, hobbies  -->

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} {% endblock %} </title>
    </head>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-food.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>

    <body>
         <header class="w3-container w3-food-salmon w3-center">
            <h1>{% block header %} {% endblock %} </h1>
        </header>

        <div class = "w3-center">{% block name %} {% endblock %} </div>

        <div> {% block content %} {% endblock %} </div>
    </body>

</html>