{% extends "base.jinja" %}
{% block title %} Education {% endblock %}
{% block header %} EDUCATION {% endblock %}



{% block content %}

    <div class = "underline"> {{title}}'s Education </div>

    <p> {{uni_name}} </p>
    <p> {{majors}} </p>
    <p class = "work_experience_font"> I was involved in.....</p>

    {% for wks in companies %}
    
        <p><b>{{companies[wks]}}</b></p>
        <p> {{workexperiences[wks]}}</p> 

    {% endfor %}

{% endblock%}



