{% extends "base.html" %}
{% block title %} Our Education {% endblock %}
{% block header %} OUR EDUCATION {% endblock %}

{% block name %}<p class = "w3-margin-top"> Michelle's Education </p> {%endblock %}
{% block education %}<p class = "w3-margin-top"> Binghamton University </p> {% endblock %} 
{% block majors %}<p class="w3-margin-top"> Major: Computer Science </p>{% endblock %}

{% block name2 %}<p class = "w3-margin-top">Ruy's Education </p> {% endblock %}
{% block education2 %}<p class = "w3-margin-top">Tec de Monterrey</p> % endblock %}
{% block majors2 %}<p class = "w3-margin-top"> Major: Computer Science</p> {% endblock %}