{% extends "base.jinja" %}
{% block title %} Education {% endblock %}
{% block header %} EDUCATION {% endblock %}


{% block content %}



    <div class = "row">
    {% for wks in companies%}
        <div class  = "education_experience_columns">
            <h2 class = "w3-center">{{companies[wks]}}</h2>
            <p class = "w3-center"> {{workexperiences[wks]}}</p>
        </div>
    {% endfor %}
    </div>
{% endblock%}



