{% extends "base.jinja" %}

{% block title %} Hobbies {% endblock %}

{% block header %} HOBBIES {% endblock %}

{% block name %}
<div class = "underline work_experience_font"> {{title}}'s Hobbies! </div>

{% endblock %}

{% block content %}

{# <div class = "row">
    <div class = "col-6 col-md-4">
        <div class = "card">
            <img src= "/static/img/badminton.jpg" class = "card-img-top">
             <div class = "card-body">
             <h5 class = "card-title">Card title</h5>
             <p class = "card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
    </div>
<div> #}

{# <div class = "row">
    <div class = "col-6 col-md-4">
        <div class = "card">
            <img src= "/static/img/badminton.jpg" width = "200" height = "200" class = "card-img-top">
             <div class = "card-body">
             <h5 class = "card-title">Card title</h5>
             <p class = "card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
    </div>
</div> #}

{# <div class = "row row-cols-1 row-cols-md-3 gd-4 "> #}

<div class = "row">
    {% for a in pics%}
        <div class = " col-sm-12 col-lg-4"> 
            <div class = "card hobbies_shadowing margins" style = "width: 300px;">
                <img src = "{{pics[a]}}" class = "card-img-top">
                <div class = "card-body ">
                    <h4 class = "card-title">{{hobbies_name[a]}}</h4>
                <p class = "card-text">{{hobbies_memos[a]}}</p></div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>



{% endblock %}



