{% extends "base.jinja" %}

{% block title %} Hobbies {% endblock %}

{% block header %} HOBBIES {% endblock %}

{% block name %}
<div class = "underline"> {{title}}'s Hobbies! </div>

{% endblock %}

{% block content %}

    {% for pcs in pics%}
        <img src = "{{pics[pcs]}}" width = "300" height = "300">

    {% endfor %}

{% endblock %}



