{% extends "base.jinja" %}
{% block title %}About{% endblock %}

{% block content %}
<div class = "container text-center">
    <!-- User information and picture -->
    <center>
        <img src = "{{user_data['img']}}" class = "img-fluid about-img"/>
    </center>
    <div class = "about-div text-center">
        <h1 class = "about-title">Who is {{ title }}?</h1>
        <hr style="border: 2px solid red; background-color: red;"/>
        <p class = "about-txt ">{{user_data['about']}}</p>
    </div>

    <!-- Contact information and links to social media-->
    <div class = "container contact-div text-center">
        <p class = "contact-item-p">
            <img src = "../static/img/email.png" style='vertical-align: middle; height: 30px'; /> 
            {{user_data['email']}}
        </p>
        <p class = "contact-item-p">
            <img src = "../static/img/phone.png" style='vertical-align: middle; height: 30px'; /> 
            {{user_data['phone']}}
        </p>
        <a href="{{user_data['github']}}" >
            <img alt="github" src="../static/img/github.png" class = "contact-link"/>
        </a>
        <a href="{{user_data['linkedin']}}" >
            <img alt="linkedin" src="../static/img/linkedin.png" class = "contact-link"/>
        </a>
    </div>
</div>
   
{% endblock %}
