
{% extends "base.jinja"%}
{% block title %} Work Experiences  {% endblock %}
{% block header %} OUR WORK EXPERIENCES {% endblock %}


{% block content%} 
    {% for wks in work %}
    <p class = "underline work_experience_font">{{wks.name2}}'s Work Experience 
    <p> {{wks.company}}</p>
    <p> {{wks.description}}</p>
    <p> {{wks.company2}}</p>
    <p>{{wks.description2}}</p>
    <p> {{wks.company3}}</p>
    <p>{{wks.description3}}</p>

    {% endfor %}


{%endblock%}

