
{% extends "base.jinja"%}
{% block title %} Work Experiences  {% endblock %}
{% block header %} OUR WORK EXPERIENCES {% endblock %}

{% block name %}

<u class = "work_experience_font"><p>{{title}}'s Work Experience!</p></u>

{% endblock%}

{% block content%} 

    {% for wks in companies %}
     <p><b>{{companies[wks]}}</b></p>
     <p> {{workexperiences[wks]}}</p> 
    

    {% endfor %}


{%endblock%}

